@use "../abstracts/" as *;
// Setup style rules for button of discover section
.button-discover {

    width: 100%;
    padding: 0px 50px;
    @include border ($border: 2px, $border-radius: 20px);
    @include background ($background-color);
    border-style: solid;
    border-color: $background-color-button;
    color: $text-color-varables;
    p {
        @include font ($font-family: $primary-font, $font-size: pxToRem(16), $font-weight: 600, $line-height: 22.4px);
    }
    
    @include flex ($align: center, $justify: center, $gap: 12px);
    height: 60px;
    
    @include effect();
}