@use "../abstracts/" as *;

.background {
    width: 100%;
    img {
        width: 100%;
    }
}
.inside-background {
    
    width: 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 120px 195px 40px;
    @include flex ($direction: column, $justify: center, $align: center);
    background: $background-mushroom-blur;

    @include tablet {
        padding: 360px 195px 60px 195px;
    }
    @include desktop {
        display: none;
    }
    .content {
        width: 315px;
        @include flex ($direction: column, $gap: 30px);
        @include tablet {
            @include flex ($direction: column, $align: flex-end);
            width: 670px;
            padding: 360px, 195px, 60px, 195px;
            @include flex ($direction: row, $gap: 30px);
        }

        .content-top {
            @include flex ($direction: column, $gap: 30px);
            .top {
                padding: 10px 20px;
                @include flex ( $align: center, $justify: flex-start, $direction: row, $gap: 12px);
                @include border ($border-radius: 20px);
                @include background ($background-color-second);
                color: $text-color-varables;
                width: fit-content;
                img {
                    width: 24px;
                    height: 24px;
                }
    
                p {
                    @include font ($font-family: $primary-font, $font-size: pxToRem(16), $font-weight: 400, $line-height: 22.4px);
                }
            }

            .hightlight-text {
                h3 {
                    color: $text-color-varables;
                    @include font ($font-family: $third-font, $font-size: pxToRem(38), $font-weight: 600, $line-height: 45.6px);
                }
            }
        }
        

        

        .clock {
            
            @include flex ($direction: column, $gap: 10px);
            padding: 30px;
            @include border ($border-radius: 20px);
            @include background ($background-color-clock);
            backdrop-filter: blur(10px) brightness(100%);
            -webkit-backdrop-filter: blur(10px) brightness(100%);
            @include color ($color: $text-color-varables);

            &-time {
                @include flex ($direction: row, $justify: center, $gap: 10px);

                h3 {
                    @include font ($font-family: $fourth-font, $font-size: pxToRem(38), $font-weight: 700, $line-height: 45.6px);
                }

                .colon {
                    width: fit-content;
                    @include font ($font-family: $fourth-font, $font-size: pxToRem(28), $font-weight: 700, $line-height: 39.2px);
                }
            }
        }

        .button-bottom-mobile {
            width: 100%;
            @include tablet {
                display: none;
            }
            
        }

        .button-bottom-tablet {
            display: none;
            @include tablet {
                width: fit-content;
                display: block;
            }
        }
        .button-see-nft {
            width: 100%;
            height: 60px;
            padding: 22px 50px;
            @include flex ($direction: row,  $align: center, $justify: center, $gap: 12px);
            @include border ($border: 0px, $border-radius: 20px);
            @include font ($font-family: $primary-font, $font-size: pxToRem(16), $font-weight: 600, $line-height: 22.4px);
        }
        
    }
}
