<!-- There are content of card in a top creator content -->
<each loop="item in {{ list }}">
    <!-- Heading content -->
    <div class="heading-creator">

        <div class="text">
            <h4>Top Creator</h4>
            <p>Checkout Top Rated Creators on the NFT Marketplace</p>
        </div>
        
        <div class="button-TD">
            <include src="./components/buttonCreator.html" locals='{
                "list" : [{ "iconButton" : "{{ item.button }}"}]
            }'>
            </include>
        </div>
        
    </div>
    
    <!-- Start card container -->
    <div class="card-container">
        <!-- Card 1  -->
        <div class="card-1">

            <!-- Right content of card -->
            <div class="right-card_1">
                <img class="avt" src="../assets/img/pic-top-creator/{{ item.avt1 }}.png" alt=" {{ item.avtDesc1 }}">
            </div>

            <!-- Left content of card -->
            <div class="left-card">
                <h5>Keepitreal</h5>
                <div class="left-card-describe">
                    <p class="left-card-describe__p1">Total Sales:</p>
                    <p class="left-card-describe__p2">34.53 ETH</p>
                </div>
            </div>

            <div class="circle">
                <p>1</p>
            </div>

        </div>
        <!-- End of card 1 -->

         <!-- Card 2  -->
         <div class="card-2">

            <!-- Right content of card -->
            <div class="right-card_1">
                <img class="avt" src="../assets/img/pic-top-creator/{{ item.avt2 }}.png" alt=" {{ item.avtDesc2 }}">
            </div>

            <!-- Left content of card -->
            <div class="left-card">
                <h5>DigiLab</h5>
                <div class="left-card-describe">
                    <p class="left-card-describe__p1">Total Sales:</p>
                    <p class="left-card-describe__p2">32.13 ETH</p>
                </div>
            </div>

            <div class="circle">
                <p>2</p>
            </div>

        </div>
        <!-- End of card 2 -->

         <!-- Card 3 -->
         <div class="card-3">

            <!-- Right content of card -->
            <div class="right-card_1">
                <img class="avt" src="../assets/img/pic-top-creator/{{ item.avt3 }}.png" alt=" {{ item.avtDesc3 }}">
            </div>

            <!-- Left content of card -->
            <div class="left-card">
                <h5>GravityOne</h5>
                <div class="left-card-describe">
                    <p class="left-card-describe__p1">Total Sales:</p>
                    <p class="left-card-describe__p2">28.93 ETH</p>
                </div>
            </div>

            <div class="circle">
                <p>3</p>
            </div>

        </div>
        <!-- End of card 3 -->

        <!-- Card 4  -->
        <div class="card-4">

            <!-- Right content of card -->
            <div class="right-card_1">
                <img class="avt" src="../assets/img/pic-top-creator/{{ item.avt4 }}.png" alt=" {{ item.avtDesc4 }}">
            </div>

            <!-- Left content of card -->
            <div class="left-card">
                <h5>Juanie</h5>
                <div class="left-card-describe">
                    <p class="left-card-describe__p1">Total Sales:</p>
                    <p class="left-card-describe__p2">25.30 ETH</p>
                </div>
            </div>

            <div class="circle">
                <p>4</p>
            </div>

        </div>
        <!-- End of card 4  -->

        <!-- Card 5  -->
        <div class="card-5">

            <!-- Right content of card -->
            <div class="right-card_1">
                <img class="avt" src="../assets/img/pic-top-creator/{{ item.avt5 }}.png" alt=" {{ item.avtDesc5 }}">
            </div>

            <!-- Left content of card -->
            <div class="left-card">
                <h5>BlueWhale</h5>
                <div class="left-card-describe">
                    <p class="left-card-describe__p1">Total Sales:</p>
                    <p class="left-card-describe__p2">22.22 ETH</p>
                </div>
            </div>

            <div class="circle">
                <p>5</p>
            </div>

        </div>
        <!-- End of card 5  -->

         <!-- Card 6  -->
         <div class="card-6">

            <!-- Right content of card -->
            <div class="right-card_1">
                <img class="avt" src="../assets/img/pic-top-creator/{{ item.avt6 }}.png" alt=" {{ item.avtDesc6 }}">
            </div>

            <!-- Left content of card -->
            <div class="left-card">
                <h5>Mr Fox</h5>
                <div class="left-card-describe">
                    <p class="left-card-describe__p1">Total Sales:</p>
                    <p class="left-card-describe__p2">19.28 ETH</p>
                </div>
            </div>

            <div class="circle">
                <p>6</p>
            </div>

        </div>
        <!-- End of card 6  -->

         <!-- Card 7  -->
         <div class="card-7">

            <!-- Right content of card -->
            <div class="right-card">
                <img class="avt" src="../assets/img/pic-top-creator/{{ item.avt7 }}.png" alt=" {{ item.avtDesc7 }}">
            </div>

            <!-- Left content of card -->
            <div class="left-card">
                <h5>Shroomie</h5>
                <div class="left-card-describe">
                    <p class="left-card-describe__p1">Total Sales:</p>
                    <p class="left-card-describe__p2">34.53 ETH</p>
                </div>
            </div>

            <div class="circle">
                <p>7</p>
            </div>

        </div>
        <!-- End of card 7  -->

        <!-- Card 8  -->
        <div class="card-8">

            <!-- Right content of card -->
            <div class="right-card">
                <img class="avt" src="../assets/img/pic-top-creator/{{ item.avt8 }}.png" alt=" {{ item.avtDesc8 }}">
            </div>

            <!-- Left content of card -->
            <div class="left-card">
                <h5>Robotica</h5>
                <div class="left-card-describe">
                    <p class="left-card-describe__p1">Total Sales:</p>
                    <p class="left-card-describe__p2">34.53 ETH</p>
                </div>
            </div>

            <div class="circle">
                <p>8</p>
            </div>

        </div>
        <!-- End of card 8  -->

         <!-- Card 9  -->
         <div class="card-9">

            <!-- Right content of card -->
            <div class="right-card">
                <img class="avt" src="../assets/img/pic-top-creator/{{ item.avt9 }}.png" alt=" {{ item.avtDesc9 }}">
            </div>

            <!-- Left content of card -->
            <div class="left-card">
                <h5>RustyRobot</h5>
                <div class="left-card-describe">
                    <p class="left-card-describe__p1">Total Sales:</p>
                    <p class="left-card-describe__p2">34.53 ETH</p>
                </div>
            </div>

            <div class="circle">
                <p>9</p>
            </div>

        </div>
        <!-- End of card 9  -->

        <!-- Card 10  -->
        <div class="card-10">

            <!-- Right content of card -->
            <div class="right-card">
                <img class="avt" src="../assets/img/pic-top-creator/{{ item.avt10 }}.png" alt=" {{ item.avtDesc10 }}">
            </div>

            <!-- Left content of card -->
            <div class="left-card">
                <h5>Animakid</h5>
                <div class="left-card-describe">
                    <p class="left-card-describe__p1">Total Sales:</p>
                    <p class="left-card-describe__p2">34.53 ETH</p>
                </div>
            </div>

            <div class="circle">
                <p>10</p>
            </div>

        </div>
        <!-- End of card 10  -->

        <!-- Card 11  -->
        <div class="card-11">

            <!-- Right content of card -->
            <div class="right-card">
                <img class="avt" src="../assets/img/pic-top-creator/{{ item.avt11 }}.png" alt=" {{ item.avtDesc11 }}">
            </div>

            <!-- Left content of card -->
            <div class="left-card">
                <h5>Dotgu</h5>
                <div class="left-card-describe">
                    <p class="left-card-describe__p1">Total Sales:</p>
                    <p class="left-card-describe__p2">34.53 ETH</p>
                </div>
            </div>

            <div class="circle">
                <p>11</p>
            </div>

        </div>
        <!-- End of card 11  -->

        <!-- Card 12  -->
        <div class="card-12">

            <!-- Right content of card -->
            <div class="right-card">
                <img class="avt" src="../assets/img/pic-top-creator/{{ item.avt12 }}.png" alt=" {{ item.avtDesc12 }}">
            </div>

            <!-- Left content of card -->
            <div class="left-card">
                <h5>Ghiblier</h5>
                <div class="left-card-describe">
                    <p class="left-card-describe__p1">Total Sales:</p>
                    <p class="left-card-describe__p2">34.53 ETH</p>
                </div>
            </div>

            <div class="circle">
                <p>12</p>
            </div>

        </div>
        <!-- End of card 12 -->

        <!-- Button mobile -->
        <div class="button-mobile">
            <include src="./components/buttonCreator.html" locals='{
                "list" : [{ "iconButton" : "{{ item.button }}"}]
            }'>
            </include>
        </div>
        
    </div>
    <!-- End card container -->
</each>