<!-- There are content of card in a top creator content -->
<each loop="item in {{ list }}">
    <!-- Start card container -->
    <div class="card-container">
        <!-- Card 1  -->
        <div class="card-1">

            <!-- Right content of card -->
            <div class="right-card">
                <img class="avt" src="../assets/img/pic-top-creator/{{ item.avt1 }}.png">
            </div>

            <!-- Left content of card -->
            <div class="left-card">
                <h5>Keepitreal</h5>
                <div class="left-card-describe">
                    <p class="left-card-describe__p1">Total Sales:</p>
                    <p class="left-card-describe__p2">34.53 ETH</p>
                </div>
            </div>

            <div class="circle">
                <p>1</p>
            </div>

        </div>
        <!-- End of card 1 -->

         <!-- Card 2  -->
         <div class="card-2">

            <!-- Right content of card -->
            <div class="right-card">
                <img class="avt" src="../assets/img/pic-top-creator/{{ item.avt2 }}.png">
            </div>

            <!-- Left content of card -->
            <div class="left-card">
                <h5>DigiLab</h5>
                <div class="left-card-describe">
                    <p class="left-card-describe__p1">Total Sales:</p>
                    <p class="left-card-describe__p2">32.13 ETH</p>
                </div>
            </div>

            <div class="circle">
                <p>2</p>
            </div>

        </div>
        <!-- End of card 2 -->

         <!-- Card 3 -->
         <div class="card-3">

            <!-- Right content of card -->
            <div class="right-card">
                <img class="avt" src="../assets/img/pic-top-creator/{{ item.avt3 }}.png">
            </div>

            <!-- Left content of card -->
            <div class="left-card">
                <h5>GravityOne</h5>
                <div class="left-card-describe">
                    <p class="left-card-describe__p1">Total Sales:</p>
                    <p class="left-card-describe__p2">28.93 ETH</p>
                </div>
            </div>

            <div class="circle">
                <p>3</p>
            </div>

        </div>
        <!-- End of card 3 -->

        <!-- Card 4  -->
        <div class="card-4">

            <!-- Right content of card -->
            <div class="right-card">
                <img class="avt" src="../assets/img/pic-top-creator/{{ item.avt4 }}.png">
            </div>

            <!-- Left content of card -->
            <div class="left-card">
                <h5>Juanie</h5>
                <div class="left-card-describe">
                    <p class="left-card-describe__p1">Total Sales:</p>
                    <p class="left-card-describe__p2">25.30 ETH</p>
                </div>
            </div>

            <div class="circle">
                <p>4</p>
            </div>

        </div>
        <!-- End of card 4  -->

        <!-- Card 5  -->
        <div class="card-5">

            <!-- Right content of card -->
            <div class="right-card">
                <img class="avt" src="../assets/img/pic-top-creator/{{ item.avt5 }}.png">
            </div>

            <!-- Left content of card -->
            <div class="left-card">
                <h5>BlueWhale</h5>
                <div class="left-card-describe">
                    <p class="left-card-describe__p1">Total Sales:</p>
                    <p class="left-card-describe__p2">22.22 ETH</p>
                </div>
            </div>

            <div class="circle">
                <p>5</p>
            </div>

        </div>
        <!-- End of card 5  -->
    </div>
    <!-- End card container -->
</each>