<!-- Browse Categories  -->
<each loop="item in {{ list }}">

    <div class="heading">
        <p>Browse Categories</p>
    </div>
    <!-- Card container -->
        <div class="categories-container">
            <!-- Card 1 -->
            <div class="card">
                <div class="top-content">
                    
                    <!-- Background image of card -->
                    <div class="image">
                        <img src="../assets/img/pic-browse-categories/{{ item.pic_1 }}.png">   
                    </div>

                    <!-- Icon of card -->
                    <div class="icon">
                        <img src="../assets/icon/{{ item.icon_1 }}.svg">
                    </div>

                </div>
               
                <!-- Bottom content of card -->
                <div class="bottom-content">
                    <p>Art</p>
                </div>
            </div>
            <!-- End of card 1 -->

            <!-- Card 2 -->
            <div class="card">
                <div class="top-content">
                    
                    <!-- Background image of card -->
                    <div class="image">
                        <img src="../assets/img/pic-browse-categories/{{ item.pic_2 }}.png">   
                    </div>

                    <!-- Icon of card -->
                    <div class="icon">
                        <img src="../assets/icon/{{ item.icon_2 }}.svg">
                    </div>

                </div>
               
                <!-- Bottom content of card -->
                <div class="bottom-content">
                    <p>Collectibles</p>
                </div>
            </div>
            <!-- End of card 2 -->

            <!-- Card 3 -->
            <div class="card">
                <div class="top-content">
                    
                    <!-- Background image of card -->
                    <div class="image">
                        <img src="../assets/img/pic-browse-categories/{{ item.pic_3 }}.png">   
                    </div>

                    <!-- Icon of card -->
                    <div class="icon">
                        <img src="../assets/icon/{{ item.icon_3 }}.svg">
                    </div>

                </div>
               
                <!-- Bottom content of card -->
                <div class="bottom-content">
                    <p>Music</p>
                </div>
            </div>
            <!-- End of card 3 -->

            <!-- Card 4 -->
            <div class="card">
                <div class="top-content">
                    
                    <!-- Background image of card -->
                    <div class="image">
                        <img src="../assets/img/pic-browse-categories/{{ item.pic_4 }}.png">   
                    </div>

                    <!-- Icon of card -->
                    <div class="icon">
                        <img src="../assets/icon/{{ item.icon_4 }}.svg">
                    </div>

                </div>
               
                <!-- Bottom content of card -->
                <div class="bottom-content">
                    <p>Photography</p>
                </div>
            </div>
            <!-- End of card 4 -->

            <!-- Card 5 -->
            <div class="card-1">
                <div class="top-content">
                    
                    <!-- Background image of card -->
                    <div class="image">
                        <img src="../assets/img/pic-browse-categories/{{ item.pic_5 }}.png">   
                    </div>

                    <!-- Icon of card -->
                    <div class="icon">
                        <img src="../assets/icon/{{ item.icon_5 }}.svg">
                    </div>

                </div>
               
                <!-- Bottom content of card -->
                <div class="bottom-content">
                    <p>Video</p>
                </div>
            </div>
            <!-- End of card 5 -->

            <!-- Card 6 -->
            <div class="card-1">
                <div class="top-content">
                    
                    <!-- Background image of card -->
                    <div class="image">
                        <img src="../assets/img/pic-browse-categories/{{ item.pic_6 }}.png">   
                    </div>

                    <!-- Icon of card -->
                    <div class="icon">
                        <img src="../assets/icon/{{ item.icon_6 }}.svg">
                    </div>

                </div>
               
                <!-- Bottom content of card -->
                <div class="bottom-content">
                    <p>Utility</p>
                </div>
            </div>
            <!-- End of card 6 -->

            <!-- Card 7 -->
             <div class="card-7">
                <div class="top-content">
                    
                    <!-- Background image of card -->
                    <div class="image">
                        <img src="../assets/img/pic-browse-categories/{{ item.pic_7 }}.png">   
                    </div>

                    <!-- Icon of card -->
                    <div class="icon">
                        <img src="../assets/icon/{{ item.icon_7 }}.svg">
                    </div>

                </div>
               
                <!-- Bottom content of card -->
                <div class="bottom-content">
                    <p>Sport</p>
                </div>
            </div>
            <!-- End of card 7 -->
            
            <!-- Card 8 -->
            <div class="card-1">
                <div class="top-content">
                    
                    <!-- Background image of card -->
                    <div class="image">
                        <img src="../assets/img/pic-browse-categories/{{ item.pic_8 }}.png">   
                    </div>

                    <!-- Icon of card -->
                    <div class="icon">
                        <img src="../assets/icon/{{ item.icon_8 }}.svg">
                    </div>

                </div>
               
                <!-- Bottom content of card -->
                <div class="bottom-content">
                    <p>Virtual Worlds</p>
                </div>
            </div>
            <!-- End of card 8 -->
        </div> 
</each>