<each loop="item in {{ list }}">
    <div class="background">
        <picture>
              
            <source  media="(min-width:429px)" srcset="../assets/img/{{ item.backgroundTablet }}.png"/>
            <source  media="screen and (min-width:1200px)" srcset="../assets/img/{{ item.backgroundDesktop }}.png"/> 
            <img src="../assets/img/{{ item.background }}.png"> 
        </picture>
             
    </div>
    <!-- Content of hightlight section -->
    <div class="inside-background">
        <div class="content">
            <div class="content-top">
                <div class="top">
                    <img src="../assets/img/pic-top-creator/{{ item.avttop }}.png">
                    <p>Shroomie</p>
                </div>
        
                <div class="hightlight-text">
                    <h3>Magic Mashrooms</h3>
                </div>

                <div class="button-bottom-tablet">
                    <button class="button-see-nft">
                        <img src="../assets/icon/{{ item.iconButton }}.svg">
                        <p>See NFT</p>
                    </button>
                </div>
            </div>
            
    
            <div class="clock">
                <p class="caption">Auction ends in:</p>

                <div class="clock-time">
                    <div class="hours">
                        <h3>59</h3>
                        <p>Hours</p>
                    </div>
        
                    <div class="colon">
                        <p>:</p>
                    </div>
        
                    <div class="hours">
                        <h3>59</h3>
                        <p>Minutes</p>
                    </div>
        
                    <div class="colon">
                        <p>:</p>
                    </div>
        
                    <div class="hours">
                        <h3>59</h3>
                        <p>Seconds</p>
                    </div>
        
                </div>
                
            </div>
            
            <div class="button-bottom-mobile">
                <button class="button-see-nft">
                    <img src="../assets/icon/{{ item.iconButton }}.svg">
                    <p>See NFT</p>
                </button>
            </div>
        </div>
    </div>
    
</each>