@use "../abstracts/" as *;

// Start setup style rules for the header section
.header-container {
    width: 100%;
    @include color ($color: $text-color-varables, $background: $background-color);

    // Start setup style rules for navigation

    .header-top {
        width: 100%;
        padding: 15px 30px;
        @include flex ($justify: space-between, $align: center);
        
        @include tablet{
            padding: 15px 50px;
            width: 100%;
        }

        @include desktop{
            padding: 20px 50px;
        }
        
        &__logo{
            figure {
                margin: 0;
                @include flex ($align: center, $gap: 15px);
                @include font ($font-family: $fourth-font, $font-size: 20px, $font-weight: 650);
            }

            figcaption {
                @include font ($font-family: $fourth-font, $font-size: pxToRem(16));

                @include tablet {
                    @include font ($font-family: $fourth-font, $font-size: pxToRem(22));
                }

                @include desktop {
                    @include font ($font-family: $fourth-font, $font-size: pxToRem(28));
                }
            }
        }

        .nav-container {
            width: 100%;
            display: none;  

            @include desktop {
                display: block;
                width: 607px;
            }

        }
        &__menu {
            @include desktop {
                display: none;
            }
        }   
    }

    // Finish of setup style rules for navigation

    // Start setup style rules for hero section in header area

    .header-bottom {
        position: relative;
        width: 100%;
        padding: 40px 0px;
        @include flex ($direction: row, $align: center, $justify: center, $gap: 30px);
       
        @include tablet {
            padding: 80px 0px;
            @include flex ($direction: row, $justify: center, $align: center, $gap: 30px);
        }

        @include desktop {
            padding: 80px 195px;
            @include flex ($direction: row, $justify: center, $align: center, $gap: 30px);
        }
    }
     
    // Finishing setup style rules for hero section in header area

}

// Finishing setup style rules for the header section