<!-- Footer content -->
<footer>
    <!-- Footer information -->
    <div class="footer-info">
        <!-- Marketplace content -->

        <div class="footer-info-marketplace">

            <!-- Heading of content -->
            <div class="info-heading">
                <img src="../assets/icon/ic-store-front.svg" alt="logo-pages">
                <p>Marketplace</p>
            </div>

            <!-- Main content -->
            <div class="main-info">
                <p>NFT marketplace UI created with Anima for Figma.</p>

                <div class="icon">
                    <div class="paragraph">Join our community</div>
                    <div class="icon-list">
                        <img src="../assets/icon/ic-discord.svg" alt="icon-discord">
                        <img src="../assets/icon/ic-youtube.svg" alt="icon-youtube">
                        <img src="../assets/icon/ic-twitter.svg" alt="icon-twitter">
                        <img src="../assets/icon/ic-instagram.svg" alt="icon-instagram">
                    </div>
                </div>
            </div>
        </div>

        <!-- End of marketplace content -->

        <!-- Explore content -->

        <div class="footer-info-explore">
            <!-- Heading of content -->
            <div class="info-heading">
                <p>Explore</p>
            </div>

            <!-- Main content -->
            <div class="main-info">
                <p>Marketplace</p>
                <p>Rankings</p>
                <p>Connect a wallet</p>
            </div>
        </div>

        <!-- End of explore content -->

        <!-- Subscribe content -->

        <div class="footer-info-subscribe">
            <!-- Heading of content -->
            <div class="info-heading">
                <p>Join Our Weekly Digest</p>
            </div>

            <div class="main-info-input">
                <p>Get exclusive promotions & updates straight to your inbox.</p>

                <div class="form">
                    <input class="form-tablet-desktop" type="text" placeholder="Enter your email here">
                    <input class="from-mobile" type="text" placeholder="Enter Your Email Address">
                    
                    <div class="form-button">
                        <img src="../assets/icon/ic-email.svg" alt="icon-email-button">
                        <p>Subscribe</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- End of subscribe content -->
    </div>
    <!-- End of footer information -->

    <!-- Footer frame -->
    <div class="frame">
    <hr></hr>
        <p>&copy; NFT Market. Use this template freely.</p>
    </div>
    <!-- End of footer frame -->
</footer>