<!-- Start header -->

<header class="header-container">

    <!-- Start header top -->
    <div class="header-top">
        <div class="header-top__logo">
            <figure>
                <img src="../assets/icon/ic-store-front.svg" alt="ic-store-front">
                <a href="#"><figcaption>NFT Marketplace</figcaption></a>
            </figure>
        </div>

        <nav class="nav-container">
            <ul>
                <include src="./components/navList.html" locals='{
                    "classList":"nav__item",
                    "classLink":"nav__item-link",
                    "list":["Marketplace","Rankings","Connect a wallet"]
                }'>
                </include>

                <div class="header-top__button">
                    <button class="header-top__button-s"><img src="../assets/icon/ic-user.svg" alt="logo-sign-up">Sign Up</button>
                </div>
            </ul>
        </nav> 

        <div class="header-top__menu">
            <figure class="header-top__menu-item">
                <img src="../assets/icon/ic-nav-tablet-phone.svg" alt="menu">
            </figure>
        </div>
    </div>
    <!-- End of header top -->

     <!-- Start header bottom -->
     <div class="header-bottom">
            <include src="./components/box.html" locals='{
                "list":[{
                    "firstLine": "Discover Digital Art & Collect NFTs",
                    "secondLine": "NFT Marketplace UI Created With Anima For Figma. Collect, Buy And Sell Art From More Than 20k NFT Artists.",
                    "buttonLink": "ic-header-button-bottom",
                    "buttonContent": "Get Started",
                    "heading1": "240k+",
                    "heading2": "100k+",
                    "heading3": "240k+",
                    "p1": "Total Sale",
                    "p2": "Auctions",
                    "p3": "Artists",
                    "imageLink1": "pic-hero-mobile",
                    "imageDesc1": "image-hero",
                    "imageLink2": "pic-hero-tablet",
                    "imageDesc2": "image-hero",
                    "imageLink3": "pic-hero",
                    "imageDesc3": "image-hero",
                    "imageAvatar": "pic-hero-avt",
                    "imageDesc4": "image-avatar"
                }]   
            }'>
            </include>
    </div>
    <!-- End of header bottom -->
</header>
<!-- End of header -->
