<!-- Start main section-->

<main>
    <!-- Start trending section of page -->
    <section class="trending">
        <include src="./components/trendBox.html" locals='{
            "list":[{
                "imageDogTD": "dov-avt-td",
                "imageDogM": "dog-avt-mobile",
                "imageBearTD": "dog-items-td",
                "imageBearM" : "dog-items-mobile",
                "imageCatTD" : "cat-items-td",
                "imageCatM" : "cat-items-mobile",
                "avtDesc1" : "fox",
                "imageMushroom": "mushroom-avt", 
                "mushroom_1": "mushroom-item-1",
                "mushroom_2": "mushroom-item-2",
                "avtDesc2" : "man_3",
                "imageRobot": "robot-avt", 
                "robot_1": "robot-item-1",
                "robot_2": "robot-item-2",
                "avtDesc3" : "robot_6"
            }]
        }'>
        </include>

    </section>
    <!-- End trending section of page -->

    <!-- Start top creator section of page -->

    <section class="top-creator">
        <include src="./components/artistCard.html" locals='{
            "list":[{
                "avt1": "girl_1",
                "avt2": "man_1",
                "avt3": "girl_2",
                "avt4": "girl_3",
                "avt5": "robot_3"
            }]
        }'>
        </include>
    </section>

    <!-- End top creator section of page -->

</main>

<!-- End of main section -->