<!-- Start main section-->

<main>
    <!-- Start trending section of page -->
    <section class="trending">
        <include src="./components/trendBox.html" locals='{
            "list":[{
                "imageDogTD": "dov-avt-td",
                "imageDogM": "dog-avt-mobile",
                "imageBearTD": "dog-items-td",
                "imageBearM" : "dog-items-mobile",
                "imageCatTD" : "cat-items-td",
                "imageCatM" : "cat-items-mobile",
                "avtDesc1" : "fox",
                "imageMushroom": "mushroom-avt", 
                "mushroom_1": "mushroom-item-1",
                "mushroom_2": "mushroom-item-2",
                "avtDesc2" : "man_3",
                "imageRobot": "robot-avt", 
                "robot_1": "robot-item-1",
                "robot_2": "robot-item-2",
                "avtDesc3" : "robot_6"
            }]
        }'>
        </include>

    </section>
    <!-- End trending section of page -->

    <!-- Start top creator section of page -->

    <section class="top-creator">
        <include src="./components/artistCard.html" locals='{
            "list":[{
                "avt1": "girl_1",
                "avt2": "man_1",
                "avt3": "girl_2",
                "avt4": "girl_3",
                "avt5": "robot_3",
                "avt6": "fox",
                "avt7": "man_3",
                "avt8": "robot_1",
                "avt9": "robot_2",
                "avt10": "robot_4",
                "avt11": "girl_7",
                "avt12": "girl_5",
                "button": "rocketLaunch"
            }]
        }'>
        </include>
    </section>

    <!-- End top creator section of page -->

    <!-- Start browse categories section -->
    <section class="browse-categories">
        <include src="./components/categories.html" locals='{
            "list": [{
                "pic_1" : "pic-1",
                "icon_1" : "ic-paint-brush",
                "pic_2" : "pic-2",
                "icon_2" : "ic-swatches",
                "pic_3" : "pic-3",
                "icon_3" : "ic-music-notes",
                "pic_4" : "pic-4",
                "icon_4" : "ic-camera",
                "pic_5" : "pic-5",
                "icon_5" : "ic-video-camera",
                "pic_6" : "pic-6",
                "icon_6" : "ic-magic-wand",
                "pic_7" : "pic-7",
                "icon_7" : "ic-basketball",
                "pic_8" : "pic-8",
                "icon_8" : "ic-planet"
            }]
        }'></include>
    </section>
    <!-- End browse categories section -->

    <!-- Start Discover More NFTs section -->
    <section class="discover">
        <include src="./components/discover.html" locals='{
            "list" : [{
                "imageCard1" : "pic-card-desktop-1",
                "imageAvt1" : "girl_4",
                "imageCard2" : "pic-card-desktop-2",
                "imageAvt2" : "man_2",
                "imageCard3" : "pic-card-desktop-3",
                "imageAvt3" : "girl_7",
                "buttonDiscover" : "ic-eye"
            }]
        }'></include>
    </section>
    <!-- End of Discover More NFTs section -->

    <!-- Start Hightlight bottom section -->
    <section class="hightlight">
        <include src="./components/hightlight.html" locals='{
            "list" : [{
                "background" : "pic-mushroom-mobile",
                "backgroundTablet" : "pic-mushroom-tablet",
                "backgroundDesktop" : "pic-mushroom",
                "avttop" : "man_3",
                "iconButton" : "ic-eye"
            }]
        }'></include>
        
    </section>
</main>

<!-- End of main section -->