<!-- Start main section-->

<main>
    <!-- Start trending section of page -->
    <section class="trending">
        <include src="./components/trendBox.html" locals='{
            "list":[{
                "imageDogTD": "dov-avt-td",
                "imageDogM": "dog-avt-mobile",
                "dogDesc" : "imageDogBox",
                "imageBearTD": "dog-items-td",
                "imageBearM" : "dog-items-mobile",
                "bearDesc" : "imageBearBox",
                "imageCatTD" : "cat-items-td",
                "imageCatM" : "cat-items-mobile",
                "catDesc" : "imageCatBox",
                "avtDesc1" : "fox",
                "foxDesc" : "imageFoxMini",
                "imageMushroom": "mushroom-avt", 
                "mushroom_1": "mushroom-item-1",
                "mushroom_2": "mushroom-item-2",
                "mushroomDesc" : "imageMushroomBox",
                "mushroomDesc1" : "imageMushroomMini",
                "mushroomDesc2" : "imageMushroomMini",
                "avtDesc2" : "man_3",
                "manDesc" : "manImage",
                "imageRobot": "robot-avt", 
                "robotDesc" : "robotImageBox",
                "robot_1": "robot-item-1",
                "robotDesc1" : "robotImageMini1",
                "robot_2": "robot-item-2",
                "robotDesc2" : "robotImageMini2",
                "avtDesc3" : "robot_6",
                "robotDesc3" : "robotImageMini3"
            }]
        }'>
        </include>

    </section>
    <!-- End trending section of page -->

    <!-- Start top creator section of page -->

    <section class="top-creator">
        <include src="./components/artistCard.html" locals='{
            "list":[{
                "avt1": "girl_1",
                "avt2": "man_1",
                "avt3": "girl_2",
                "avt4": "girl_3",
                "avt5": "robot_3",
                "avt6": "fox",
                "avt7": "man_3",
                "avt8": "robot_1",
                "avt9": "robot_2",
                "avt10": "robot_4",
                "avt11": "girl_7",
                "avt12": "girl_5",
                "avtDesc1" : "Avt1",
                "avtDesc2" : "Avt2",
                "avtDesc3" : "Avt3",
                "avtDesc4" : "Avt4",
                "avtDesc5" : "Avt5",
                "avtDesc6" : "Avt6",
                "avtDesc7" : "Avt7",
                "avtDesc8" : "Avt8",
                "avtDesc9" : "Avt9",
                "avtDesc10" : "Avt10",
                "avtDesc11" : "Avt11",
                "avtDesc12" : "Avt12",
                "button": "rocketLaunch"
            }]
        }'>
        </include>
    </section>

    <!-- End top creator section of page -->

    <!-- Start browse categories section -->
    <section class="browse-categories">
        <include src="./components/categories.html" locals='{
            "list": [{
                "pic_1" : "pic-1",
                "icon_1" : "ic-paint-brush",
                "pic_Desc_1" : "background-image-1",
                "icon_Desc_1" : "icon-image-1",
                "pic_2" : "pic-2",
                "icon_2" : "ic-swatches",
                "pic_Desc_2" : "background-image-2",
                "icon_Desc_2" : "icon-image-2",
                "pic_3" : "pic-3",
                "icon_3" : "ic-music-notes",
                "pic_Desc_3" : "background-image-3",
                "icon_Desc_3" : "icon-image-3",
                "pic_4" : "pic-4",
                "icon_4" : "ic-camera",
                "pic_Desc_4" : "background-image-4",
                "icon_Desc_4" : "icon-image-4",
                "pic_5" : "pic-5",
                "icon_5" : "ic-video-camera",
                "pic_Desc_5" : "background-image-5",
                "icon_Desc_5" : "icon-image-5",
                "pic_6" : "pic-6",
                "icon_6" : "ic-magic-wand",
                "pic_Desc_6" : "background-image-6",
                "icon_Desc_6" : "icon-image-6",
                "pic_7" : "pic-7",
                "icon_7" : "ic-basketball",
                "pic_Desc_7" : "background-image-7",
                "icon_Desc_7" : "icon-image-7",
                "pic_8" : "pic-8",
                "icon_8" : "ic-planet",
                "pic_Desc_8" : "background-image-8",
                "icon_Desc_8" : "icon-image-8"
            }]
        }'></include>
    </section>
    <!-- End browse categories section -->

    <!-- Start Discover More NFTs section -->
    <section class="discover">
        <include src="./components/discover.html" locals='{
            "list" : [{
                "imageCard1" : "pic-card-desktop-1",
                "imageAvt1" : "girl_4",
                "imageCardDesc1" : "image-Card-1",
                "avtCardDesc1" : "avt-Card-1",
                "imageCard2" : "pic-card-desktop-2",
                "imageAvt2" : "man_2",
                "imageCardDesc2" : "image-Card-2",
                "avtCardDesc2" : "avt-Card-2",
                "imageCard3" : "pic-card-desktop-3",
                "imageAvt3" : "girl_7",
                "imageCardDesc3" : "image-Card-3",
                "avtCardDesc3" : "avt-Card-3",
                "buttonDiscover" : "ic-eye"
            }]
        }'></include>
    </section>
    <!-- End of Discover More NFTs section -->

    <!-- Start Hightlight bottom section -->
    <section class="hightlight">
        <include src="./components/hightlight.html" locals='{
            "list" : [{
                "background" : "pic-mushroom-mobile",
                "backgroundTablet" : "pic-mushroom-tablet",
                "backgroundDesktop" : "pic-mushroom",
                "backgroundDesc" : "background-hightlight-section",
                "avttop" : "man_3",
                "avtTopDesc" : "avt-button-top",
                "iconButton" : "ic-eye",
                "iconButtonDesc" : "icon-button"
            }]
        }'></include>
        
    </section>
     <!-- End hightlight bottom section -->

     <!-- Start how it works section -->
     <section class="how-it-work">
        <include src="./components/howWork.html" locals='{
            "list" : [{
                "icon_1" : "icon_1",
                "icon1Desc" : "icon-1-of-card",
                "icon_2" : "icon_2",
                "icon2Desc" : "icon-2-of-card",
                "icon_3" : "icon_3",
                "icon3Desc" : "icon-3-of-card"
            }]
        }'></include>
     </section>
     <!-- End how it works section -->

     <!-- Start subscribe widget section -->
     <section class="subscribe-widget">
        <include src="./components/subscribe.html" locals = '{
            "list" : [{
                "imageDesktop" : "pic-space-desktop",
                "imageTablet" : "pic-space-tablet",
                "imageMobile" : "pic-space-mobile",
                "iconButton" : "ic-email",
                "spaceDesc" : "imageSpace"
            }]
        }'></include>
     </section>
</main>

<!-- End of main section -->